<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
<div>
<h1>New User</h1>
@model Login
<form asp-action="create/login" method="post">  
    <span asp-validation-for="Email"></span>
    <label asp-for="Email"></label>
    <input asp-for="Email">
    <span asp-validation-for="Password"></span>
    <label asp-for="Password"></label>
    <input asp-for="Password">
    <input value="Add User" type="submit">    
</form>
</div>
</body>
</html>